/src/node_modules
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/vendor
/src/.env
/src/.env.backup
/src/.phpunit.result.cache
/src/Homestead.json
/src/Homestead.yaml
/src/npm-debug.log
/src/yarn-error.log
/src/.idea
/src/.vscode
/docker/mysql/data/
/docker-compose.override.yml
/.env
/src/.env.dusk.local
/src/.env.testing

# Laravel storage
/src/storage/*
/src/storage/framework/views/*.php
/src/storage/framework/sessions/*
!/src/storage/.gitignore
!/src/storage/framework
!/src/storage/framework/cache
!/src/storage/framework/sessions
!/src/storage/framework/views
!/src/storage/framework/cache/.gitignore
!/src/storage/framework/sessions/.gitignore
!/src/storage/framework/views/.gitignore
!/src/storage/logs
!/src/storage/logs/.gitignore
/storage/logs/laravel.log
