.chat-page {
  display: flex;
  min-height: calc(100vh - 82px);
}

/* サイドバー */
.chat-page-sidebar {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  top: 82px;
  left: 0;
  width: 260px;
  height: calc(100vh - 82px);
  background: #868686;
  padding: 30px;
  z-index: 10;
  overflow-y: auto;
}

.chat-page-sidebar__title {
  width: 200px;
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.chat-page-sidebar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 36px;
  margin-top: 40px;
}

.chat-page-sidebar__item {
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background-color: #EEEFEB;
  overflow: visible;
}

.chat-page-sidebar__item--link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 4px 8px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  line-height: 32px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  cursor: pointer;
}

.chat-page-sidebar__item.active {
  background-color: #A9B7C0;
}

/* サイドバー未読アイコン */
.badge-unread {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  border-radius: 50%;
  padding: 0 6px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  margin-left: 6px;
  white-space: nowrap;
}

/* メインコンテンツ */
.chat-page__container {
  display: flex;
  width: calc(100% - 260px);
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  margin-left: 260px;
  margin-right: 0;
  background-color: #fff;
}

/* チャットページヘッダー */
.chat-page__header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
}

.chat-page__heading {
  display: flex;
  align-items: center;
  max-width: 800px;
  font-family: Inter;
  font-style: Bold;
  font-weight: 700;
  font-size: 36px;
  color: black;
}

.chat-page__user {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.user-icon {
  width: 70px;
  height: 70px;
}

.user-name {
  display: inline-block;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  margin: 0 6px 0 20px;
}

/* 取引完了ボタン */
.transaction-completed {
  margin-right: 20px;
  background-color: #FF8282;
  width: 175px;
  height: 55px;
  border-radius: 30px;
  color: #ffffff;
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
}

.chat-page__header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -260px;
  width: calc(100vw);
  height: 2px;
  background-color: #5F5F5F;
}

/* 商品情報 */
.chat-page__item {
  display: flex;
  position: relative;
  padding: 24px 12px;
}

.chat-page__item-image {
  flex: 0 0 200px;
  padding-left: 24px;
  flex-shrink: 0
}

.item-card__img {
  aspect-ratio: 1 / 1;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 0;
}

.chat-page__item-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 40px;
}

.chat-page__item-name {
  max-width: 850px;
  font-family: Inter;
  font-weight: 700;
  font-size: 48px;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: keep-all;
}

.chat-page__item-price {
  font-family: Inter;
  font-weight: 400;
  font-size: 36px;
}

.chat-page__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -260px;
  width: calc(100vw);
  height: 2px;
  background-color: #5F5F5F;
}

/* チャット一覧 */
.chat-page__empty-message {
  text-align: center;
  color: #888;
  font-size: 24px;
  padding: 180px 0;
}

.chat-page__message-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px;
  max-width: 60%;
  scroll-margin-top: 70px;
}

/* 自分のメッセージ（右寄り） */
.my-message {
  margin-left: auto;
  align-items: flex-end;
}

.my-message .chat-page__message-image {
  margin-left: auto;
  text-align: right;
}

/* 相手のメッセージ（左寄り） */
.partner-message .chat-page__message-image {
  margin-right: auto;
  text-align: left;
}

/* ユーザー名＋アイコン */
.chat-page__message-user {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  gap: 12px;
}

/* 自分のユーザー名＋アイコン */
.my-message .chat-page__message-user {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 12px;
}

.chat-page__message-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.chat-page__message-icon--default {
  width: 60px;
  height: 60px;
  border: none;
}

.chat-page__message-name {
  font-weight: 700;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
  display: inline-block;
}

/* メッセージテキスト */
.chat-page__message-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.chat-page__message-text {
  display: block;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #D9D9D9;
  word-wrap: break-word;
  width: 100%;
  min-width: 460px;
  max-width: 460px;
  line-height: 1.6;
  padding: 12px 16px;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
}

/* 編集・削除アクション */
.chat-page__message-actions,
.chat-page__edit-actions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  font-size: 14px;
  color: #666;
  cursor: pointer;
  margin: 0 12px;
}

.js-message-edit-form {
  display: none;
  width: 100%;
  top: auto;
  left: auto;
}

.chat-page__message-edit-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 8px;
}

.chat-page__edit-actions {
  justify-content: flex-end;
  margin: 4px 0 0 0;
}

.chat-page__edit-form {
  display: block;
  width: 100%;
}

/* アイコン+ユーザー名＋テキスト＋画像＋編集・削除 */
.chat-page__message-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* チャットに投稿した画像 */

.chat-message-img {
  display: block;
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

.chat-page__message-input {
  width: 100%;
  min-width: 460px;
  max-width: 460px;
  padding: 12px 16px;
  border-radius: 8px;
  border: none;
  background-color: #D9D9D9;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  overflow-wrap: break-word;
  line-height: 1.5;
  overflow: hidden;
  resize: none;
  min-height: 60px;
}

.chat-page__button-edit,
.chat-page__button-delete,
.chat-page__button-save,
.chat-page__button-cancel {
  font-family: Inter;
  font-weight: 400;
  font-size: 15px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.chat-page__edit-buttons {
  display: none;
}

.chat-page__message-actions.is-editing .chat-page__edit-buttons {
  display: inline-flex;
  gap: 8px;
}

.chat-page__edit-buttons.fade-in {
  opacity: 1;
}

.chat-page__message-actions.is-editing .chat-page__button-delete,
.chat-page__message-actions.is-editing .chat-page__button-edit {
  display: none;
}

.chat-page__message-actions.is-editing .chat-page__edit-buttons {
  display: inline-flex;
}

/* メッセージ送信フォーム */
.chat-page__form {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 0 24px 16px 24px;
  background-color: #fff;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.chat-form-wrapper {
  background-color: #fff;
}

.error-message.has-error {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 14px;
  margin-left: 24px;
}

.chat-page__form-body {
  display: flex;
  width: 100%;
  align-items: flex-end;
  gap: 12px;
}

.chat-form__input-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-form__input {
  flex: 1;
  max-width: 940px;
  height: 44px;
  padding: 8px 10px;
  border: 1px solid #5F5F5F;
  border-radius: 4px;
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  color: #333;
}

.chat-form__input::placeholder {
  font-size: 16px;
  color: #7B7B7B;
}

/* 画像を追加ボタン */
.chat-form__image-label {
  padding: 6px 16px;
  margin-left: 12px;
  color: #FF5555;
  border: 2px solid #FF5555;
  border-radius: 10px;
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.chat-form__send-icon {
  width: 80px;
  height: 60px;
}

/* 画像プレビュー */
.chat-form__preview {
  display: flex;
  align-items: flex-end;
  position: relative;
  gap: 4px;
}

.chat-form__preview img {
  max-width: 100px;
  max-height: 100px;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: block;
}

.remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -4px;
  right: -4px;
  background: #f00;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 0;
}

.remove-preview-btn {
  top: -6px;
  right: -6px;
}

/* ===============================
      タブレット（768〜850px）対応
   =============================== */

@media screen and (min-width:768px) and (max-width:850px) {
  .chat-page {
    min-height: calc(100vh - 65px);
  }

  /* サイドバー */
  .chat-page-sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 65px;
    width: 180px;
    height: calc(100vh - 65px);
    padding: 20px;
    text-align: center;
  }

  .chat-page-sidebar__title {
    max-width: 150px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
  }

  .chat-page-sidebar__list {
    gap: 24px;
    margin-top: 28px;
  }

  .chat-page-sidebar__item {
    width: 150px;
    height: 36px;
  }

  .chat-page-sidebar__item--link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 20px;
    line-height: 36px;
  }

  /* メインコンテンツ */
  .chat-page__container {
    flex: 1;
    margin-left: 180px;
  }

  /* トップ */
  .chat-page__container {
    margin-left: 200px;
    width: calc(100% - 180px);
  }

  .chat-page__header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px;
  }

  .chat-page__heading {
    max-width: 550px;
    font-size: 20px;
    line-height: 34px;
  }

  .user-icon {
    width: 60px;
    height: 60px;
  }

  .user-name {
    max-width: 150px;
    margin: 0 4px 0 12px;
    font-size: 20px;
  }

  /* 取引完了ボタン */
  .transaction-completed {
    width: 130px;
    height: 45px;
    font-size: 16px;
    margin: 0;
  }

  .chat-page__header::after {
    left: -200px;
  }

  /* 商品情報 */
  .chat-page__item {
    padding: 24px 8px;
    gap: 4px;
  }

  .chat-page__item-image {
    flex: 0 0 150px;
    padding-left: 16px;
  }

  .chat-page__item-info {
    gap: 8px;
    margin-left: 12px;
  }

  .chat-page__item-name {
    max-width: 380px;
    font-size: 26px;
  }

  .chat-page__item-price {
    font-size: 32px;
  }

  .chat-page__item::after {
    left: -200px;
  }

  /* チャット一覧 */
  .chat-form-wrapper {
    background-color: #fff;
  }

  .chat-page__message-item {
    padding: 24px;
    scroll-margin-top: 50px;
  }

  .chat-page__message-user {
    gap: 8px;
  }

  .chat-page__message-icon {
    width: 60px;
    height: 60px;
  }

  .chat-page__message-icon--default {
    width: 60px;
    height: 60px;
  }

  .chat-page__message-name {
    font-weight: 600;
  }

  .my-message .chat-page__message-user {
    gap: 12px;
  }

  /* 編集・削除アクション */
  .chat-page__empty-message {
    font-size: 16px;
    padding: 180px 0;
  }

  .chat-message-img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 0;
  }

  .chat-page__message-text {
    padding: 8px 12px;
    width: 100%;
    min-width: 300px;
    max-width: 300px;
    line-height: 1.4;
  }

  .chat-page__message-input {
    width: 100%;
    min-width: 300px;
    max-width: 300px;
  }

  /* メッセージ送信フォーム */
  .chat-page__form {
    width: 100%;
    padding: 0 16px 12px 16px;
    position: sticky;
  }

  .chat-page__form-body {
    flex-direction: column;
    margin-top: 8px;
    gap: 8px;
  }

  .chat-form__input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  .chat-form__input {
    width: 100%;
    min-width: 340px;
    max-width: 340px;
    height: 44px;
    padding: 4px 8px;
    font-size: 18px;
  }

  /* 画像を追加ボタン */
  .chat-form__image-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding: 0 8px;
    font-size: 18px;
  }

  .chat-form__send-icon {
    width: 50px;
    height: 44px;
  }

  /* 画像プレビュー */
  .chat-form__preview img {
    display: none
  }

  .remove-btn {
    display: none
  }

  .remove-preview-btn {
    display: none
  }

  .chat-form__file-name {
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}