.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FDFCE6;
  border: 1px solid #000000;
  border-radius: 15px;
  width: 600px;
  min-height: 350px;
  z-index: 2100;
  margin: auto;
  padding: 20px;
}

.modal__title {
  position: relative;
  width: 100%;
  font-family: Inter;
  font-weight: 400;
  font-size: 35px;
  padding-bottom: 20px;
}

.modal__title::after {
  content: "";
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.modal__text {
  padding-top: 20px;
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  color: #868686;
}

.modal__rating-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 8px;
  margin-top: 10px;
}

.modal__rating-wrapper::after {
  content: "";
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.modal__rating {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 20px auto;
}

.modal__rating input {
  display: none;
}

.modal__rating input:checked~label {
  color: #ffcc00;
}

.modal__rating label {
  width: 100px;
  height: 80px;
  font-size: 80px;
  line-height: 80px;
  margin: 0 8px;
  cursor: pointer;
  color: #D9D9D9;
}

.modal__rating input[type="radio"]:checked~label {
  color: #FFF048;
}

.modal__button-wrapper {
  text-align: right;
}

.modal__button {
  width: 130px;
  height: 50px;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  background-color: #FF8282;
  border-radius: 5px;
  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;
}

/* ===============================
      タブレット（768〜850px）対応
   =============================== */

@media screen and (min-width:768px) and (max-width:850px) {
  .modal__content {
    width: 60%;

    min-height: auto;
    padding: 16px;
  }

  .modal__title {
    font-size: 28px;
  }

  .modal__rating label {
    width: 60px;
    height: 60px;
    font-size: 60px;
  }

  .modal__button {
    width: 110px;
    height: 44px;
    font-size: 20px;
  }
}